
* {box-sizing: border-box;}

head, body {background-color: #FFFFFF; font-family: var(--font_family);}

h1 {font-size: 18px;}
h2 {font-size: 15px;}
h3 {font-size: 12px; text-align: right;}
h1, h3 {margin: 0px; padding: 18px;}
h1, h2, h3 {font-weight: bold;}
p, form {font-size: 12px;}

input, select {
	width: 100%;
	padding: 3px;
	border: 1px solid var(--colorg);
	border-radius: 3px;
	resize: vertical;
	font-family: var(--font_family);
	font-size: 12px;}

input:focus {background-color: var(--colorg);}

.column {float: left; width: 33.33%;}
.col-dbl {float: left; width: 66.66%;}
.col-img {float: left; width: 60%;}
.col-txt {float: left; width: 40%;}
.col-equal {float: left; width: 50%;}
.col-large {float: left; width: 77.5%;}
.col-small {float: left; width: 22.5%;}
.col-l {float: left; width: 27.5%;}
.col-m {float: left; width: 50%;}
.col-r {float: left; width: 22.5%;}
.chart-tile {float: left; padding-right: 15px;}

header {width: 100%; height: 100%;}
header.title {min-height: 180px;}

header, footer, .column, .col-dbl, summary, wide, charts, datapanel {padding: 6px;}

.col-img, .col-txt, .col-equal, .col-large, .col-small, .col-l, .col-m, .col-r {padding: 6px 12px 6px 0px;}

.col-img, .col-txt, .col-equal, .col-large, .col-small, .col-l, .col-r {text-align: left;}

.col-m {text-align: center;}

.row {clear: left;}

header {background-color: var(--color1); color: #FFFFFF;}
footer {background-color: var(--color2); color: #FFFFFF;}

summary {width: 492px;}
wide {width: 100%;}
summary, wide {
	float: left;
	font-size: 12px;
/* 	font-weight: bold; */
	color: black;}

canvas, charts {float: left; width: 510px;}
datapanel {float: left; width: 100%;}

section:after {
	content: '';
	display: table;
	clear: both;}

.spacer {clear: both; height: 0px;}

hr.solid {border-top: 1px solid;}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}

button {
	width: 100%;
	border: none;
	border-radius: 6px;
	background-color: var(--color3);
	color: #FFFFFF;
	padding: 12px 36px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: var(--font_family);
	font-size: 15px;
	font-weight:bold;}

button:hover {background-color: var(--colorg); color: var(--color3);}

.slidecontainer {width: 100%;}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	border-radius: 6px;
	background: var(--colorg);
	outline: none;
	opacity: 0.45;
	-webkit-transition: .3s;
	transition: opacity .3s;}

.slider:hover {opacity: 0.75;}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #000000;
	cursor: pointer;}

.slider::-moz-range-thumb {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #000000;
	cursor: pointer;}

/* Responsive layout - makes the columns / boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 750px) {summary, charts, .column, .col-dbl {width: 100%; height: auto;}}
@media (max-width: 360px) {.chart-tile {width: 100%; height: auto;}}

table {
	margin: 0px auto;
	border: 0px solid #FFFFFF;
	border-color: #FFFFFF;
	padding: 6px 0px 24px;
	font-family: var(--font_family);
	font-size: 12px;}

th {color: var(--color2);}

th, td, td.collapsed {
	border: 0px solid #FFFFFF;
	padding: 3px 6px;
	text-align: center;
	font-weight: bold;}

td {
	background-color: #FFFFFF;
	font-weight: lighter;
	color: #303030;}